/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #f2f2f2; /* off white */

	/* default font */
	font-family: 'Roboto', sans-serif;
}

/* target the html called body */

body {
	/*background-image: linear-gradient(rgba(22, 160, 133,0.7), rgba(241, 196, 15,0.7));*/
	background-image: linear-gradient(rgba(22, 160, 133,0.7), rgba(241, 196, 15,0.7)), url('https://media.giphy.com/media/xT9IgKNauJJOCbT07m/giphy.gif');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	/* viewport height is the height of the screen */
	height: 100vh;

	}


/* div class container*/
.container {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}
/* end body */

/* start h1 */

h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 5px;
	background-color: #333; /* off black */
	font-family: 'Krona One', sans-serif;
}

/* end h1*/

/* start of h2 */

h2 {
	font-family: 'Raleway', sans-serif;
	color: teal;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 15px;
	background-color: #333;
	border-radius: 10px;
	padding: 10px;

	/* padding vs margin */
	/* margin: 10px; adds space outside */
	/* padding: 10px; add space inside */
}

/* end of h2*/

/* target the element with the class bio*/
.bio {
	font-size: 18px;
	background-color: rgba(51, 51, 51, .5);
	/*multiplied to the current line height */
	line-height: 1.75;
	/*background-color: rgb(51,51,51);*/
	/*opacity: 0.5;*/
}

/*end bio*/

/* targets the element the id me */
#me {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: rgba(46, 204, 113,1.0);
	border-width: 5px;
	border-style: solid;
	margin-top: 50px;
	margin: 25px;
}


/* targets  the element p1 */

#p1 {
	margin-top: 5px;
}































